<%= flash[:notice] %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Registration Number</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.reg_num %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Import Data</h4>
<%= form_tag import_students_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
<% end %>